<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Inclusión de los estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">

    <title>Calculadora de Salarios</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="p-2 text-center">MueblesStgo: Departamento de Recursos Humanos</h1>
        <h2 class="p-2 text-center">1) Carga de marcajes de turnos (DATA.TXT)</h2>
    </div>
    <div class="row align-items-center">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" class="form-control" name="marcajeTurnos">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>