<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Inclusión de los estilos de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">

  <title>Calculadora de Salarios</title>
</head>
<body>
<div class="container">
  <div class="row">
    <h1 class="p-2 text-center">MueblesStgo: Departamento de Recursos Humanos</h1>
      <h2 class="p-2 text-center">2) Ingreso de justificativos y horas extra</h2>
  </div>
  <div class="row p-2">
    <div class="col p-2 align-items-center">
      <div class="horas extra">
        <h3 class="p-2 text-center">Ingreso de horas extra</h3>
        <form th:action="@{/uploadAuth}" th:object="${autorizacion}" method="post">
          <div class="form-group mb-3">
            <label for="fecha_auth" class="form-label">Fecha de autorización</label>
            <input type="date" th:field="*{fecha_auth}" class="form-control" id="fecha_auth">
          </div>
          <div class="form-group mb-3">
            <label for="horas_aprobadas" class="form-label">Cantidad de horas aprobadas</label>
            <input type="number" th:field="*{horas_aprobadas}" class="form-control" id="horas_aprobadas">
          </div>
          <div class="form-group mb-3">
            <label for="rutEmpleadoAuth" class="form-label">Rut del empleado autorizado</label>
            <input type="text" th:field="*{rut_empleado_auth}" class="form-control" id="rutEmpleadoAuth">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Ingresar hora extra</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col p-2 align-items-center">
      <div class="justificativo">
        <h3 class="p-2 text-center">Ingreso de justificativos</h3>
        <form th:action="@{/uploadJustificativo}" th:object="${justificativo}" method="post">
          <div class="form-group mb-3">
            <label for="fecha_justi" class="form-label">Fecha de la inasistencia</label>
            <input type="date" th:field="*{fecha_justi}" class="form-control" id="fecha_justi">
          </div>
          <div class="form-group mb-3">
            <label for="motivoJustificativo" class="form-label">Motivo de justificación</label>
            <input type="text" th:field="*{motivo}" class="form-control" id="motivoJustificativo">
          </div>
          <div class="form-group mb-3">
            <label for="rutEmpleadoJusti" class="form-label">Rut del empleado justificado</label>
            <input type="text" th:field="*{rut_empleado_justi}" class="form-control" id="rutEmpleadoJusti">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Ingresar justificativo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <a href="/sueldos" class="btn btn-primary active">
      <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> Calcular planilla de sueldos
    </a>
  <div>
</div>
</body>
</html>